;	File : CC_Build_Activity.cfg
;****************************************************************
; Imp Note: All the details provided here are case sensitive.
;           The below information is provided from Clearcase
;           and should be used as it is.
;****************************************************************

[CLEARCASE]
;   Specify the PVOB for the product.
PROJECTVOB=LAB_PVOB


;   Specify the stream where the baseline was created.
STREAM=CLINFIN_AR6.1.1_MHU_INT


;   ClearQuest Database for this product...
CQ_DB=CLFIN

;   Vob associated with the stream with coma separated.
Mount_VOBs=CLINFIN_ARGL

;   The storage location alwasy has to be \\....
;   Always use a back slash (\) at the end of the path...
;Storage_Location=\\AZClearCase1\view_storage\AutoScript\
Storage_Location=\\MHICC-VOB\ccstg_e\views\AutoScripts\


;   The list of basline(s) whose information is needed with comma separated.
BASELINES=CLINFIN_ARGL_071025_AR6.1.1.7

;   Mention if you require the Change set associated with the Activities from the Baseline...
;   "Y" If you want change set or else "N"
CHANGE_SET=N

;Email_List=Ashwinkumar.Deshmukh@Sunquestinfo.com

;   This should always be your MVFS Drive.
ROOT_PATH=M:\

;   EXPORT_TO key defines the output mode,
;   If the output is needed on notepad then "EXPORT_TO=NOTEPAD"
;   If the output is needed on Microsoft Excel then "EXPORT_TO=EXCEL"
;   Prefer -  NOTEPAD as of now
EXPORT_TO=NOTEPAD
;EXPORT_TO=EXCEL

;   The path to store the log files & the output file (Ex.CLINFIN_PVOB_2007_11_5_10H19M_BaselineDetails.log)
;   Always use a back slash (\) at the end of the path...
LOGPATH=D:\Share\Ash-Share\BaselineList\
