;	File : CC_Build.cfg
;****************************************************************
; Imp Note: All the details provided here are case sensitive.
;           The below information is provided from Clearcase
;           and should be used as it is.
;	    This Config file is for COMLAB
;****************************************************************

[CLEARCASE]
Product=CLINFIN
ProductVOB=CLINFIN_PVOB
Project=CLINFIN_ECS341_MHU
Build_No=3.4.1SP4.1
Integration_Stream=CLINFIN_ECS341_MHU_INT
Mount_VOBs=CLINFIN_DOC,CLINFIN_ECS
Make_Baseline=N
Product_Baseline=
Storage_Location=\\AZClearCase1\view_storage\ONEMISYS\
Working_Dir=C:\
;List contains the list of addresses to whom mail will be sent after the build.
Email_List=Sharad.Agarwal@MisysHealthcare.Com,Saju.Thazchail@MisysHealthcare.Com
;First address will be the "FROM" address.
;Email_List=Sharad.Agarwal@MisysHealthcare.Com,Robert.Daniels@MisysHealthcare.Com,Saju.Thazchail@MisysHealthcare.Com
;,Ashwinkumar.Deshmukh@MisysHealthcare.Com,Katherine.Outram@MisysHealthcare.Com

[MUMPS]
DB=MUMPS
Components=RTN,GBL
ExcludeFile=TD.GSA
ExcludeMsqlFile=TD.GSA
ExcludeFolderList=lost+found
ExcludeMsqlFolderList=globals,lost+found,routines
BuildSeparateFolder=
BuildSeparateFile=
RoutineFiles=.rsa, .RSA
GlobalFiles=.gsa,.GSA
MsqlRoutines=
MsqlFiles=
RoutineOutput=.ro
GlobalOutput=.go
MsqlRoutineOutput=
MsqlOutput=
MUMPS_Folder=CLINFIN_ECS
