<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="AxInterop.SHDocVw" publicKeyToken="617a18da6e166d6c" culture="neutral"/>
				<codeBase version="1.1.0.0" href="file:///c:/program files/common files/misys/hosp/AxInterop.SHDocVw.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interop.SQContext" publicKeyToken="617a18da6e166d6c" culture="neutral"/>
				<codeBase version="1.0.0.0" href="file:///c:/program files/common files/misys/hosp/Interop.SQContext.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interop.ZMServerPC" publicKeyToken="617a18da6e166d6c" culture="neutral"/>
				<codeBase version="1.0.0.0" href="file:///c:/program files/common files/misys/hosp/Interop.ZMServerPC.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MisysHospitalSystems.Data.ZMProxy" publicKeyToken="617a18da6e166d6c" culture="neutral"/>
				<codeBase version="4.3.0.0" href="file:///c:/program files/common files/misys/hosp/MisysHospitalSystems.Data.ZMProxy.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="InterSystems.Data.CacheClient" publicKeyToken="ad350a26c4a4447c" culture="neutral"/>
				<codeBase version="2.0.0.1" href="file:///c:/program files/common files/misys/hosp/InterSystems.Data.CacheClient.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interop.DateTime" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.3.0.0" href="file:///c:/program files/common files/misys/hosp/Interop.DateTime.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interop.MYGUITimeOut" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.3.0.0" href="file:///c:/program files/common files/misys/hosp/Interop.MYGUITimeOut.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interop.SQ_FLUtilities" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.3.0.0" href="file:///c:/program files/common files/misys/hosp/Interop.SQ_FLUtilities.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interop.SQ_FLUtilitiesUI" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.3.0.0" href="file:///c:/program files/common files/misys/hosp/Interop.SQ_FLUtilitiesUI.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interop.SQContext2" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.3.0.0" href="file:///c:/program files/common files/misys/hosp/Interop.SQContext2.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="VBA" publicKeyToken="ec526a8ff4bae465" culture="neutral"/>
				<codeBase version="1.0.0.0" href="file:///c:/program files/common files/misys/hosp/VBA.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYDataListView" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYDataListView.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYGrid" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYGrid.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLabBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLabBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLabData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLabData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLabSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLabSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLabUtility" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLabUtility.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyDateSelection" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyDateSelection.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYSiteParams" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYSiteParams.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLookupUI" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLookupUI.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMenuButton" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMenuButton.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLabWebBrowser" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLabWebBrowser.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMisysConnectAdapter" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMisysConnectAdapter.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLabTier2UtilitySchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLabTier2UtilitySchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLabTier2UtilityData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLabTier2UtilityData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLabTier2UtilityBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLabTier2UtilityBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLabTier2Utility" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLabTier2Utility.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLookupValBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLookupValBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLookupValData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLookupValData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYLookupValSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYLookupValSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCCommonUI" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCCommonUI.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCHUISCHEMA" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCHUISCHEMA.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCHUIDATA" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCHUIDATA.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCHUI" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCHUI.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCKeyboard" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCKeyboard.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCKeyboardData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCKeyboardData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCIQSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCIQSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCIQData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCIQData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCIQBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCIQBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCIQCommon" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCIQCommon.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyMCIQUI" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyMCIQUI.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCMicroBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCMicroBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCMicroData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCMicroData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMCSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMCSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMTFSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMTFSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYMTFBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYMTFBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyMTFData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyMTFData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyPTCUM" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyPTCUM.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyPTCUMBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyPTCUMBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyPTCUMData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyPTCUMData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyPTCUMSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyPTCUMSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyCBSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyCBSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyCallBackEntry" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyCallBackEntry.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyDateTime" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyDateTime.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyOrderLookupUI" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MYOrderLookupUI.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyLabCommonNETUI" publicKeyToken="317644df91dbccca" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyLabCommonNETUI.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyPatientFinderSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyPatientFinderSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyPatientFinderData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyPatientFinderData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyPatientFinderBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyPatientFinderBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyPatientFinderUI" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///c:/program files/common files/misys/hosp/MyPatientFinderUI.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBMABusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBMABusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBMAData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBMAData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBMASchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBMASchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyTechCodeBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MyTechCodeBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyTechCodeData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MyTechCodeData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MyTechCodeSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MyTechCodeSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYReportBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYReportBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYReportUI" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYReportUI.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBBBarCodeBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBBBarCodeBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBBBarCodeData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBBBarCodeData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBBBarCodeSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBBBarCodeSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBBCommon3NETUI" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBBCommon3NETUI.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBBCurrentUnitBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBBCurrentUnitBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBBCurrentUnitData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBBCurrentUnitData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBBCurrentUnitSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBBCurrentUnitSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYHemaTraxBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYHemaTraxBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYHemaTraxData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYHemaTraxData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYHemaTraxSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYHemaTraxSchema.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBLPControl" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBLPControl.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBLPBusiness" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBLPBusiness.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBLPData" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBLPData.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MYBLPSchema" publicKeyToken="bbc6c26c2f929f99" culture="neutral"/>
				<codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYBLPSchema.dll"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MYLabSRMPortalUtility" publicKeyToken="dab06053496561de" culture="neutral"/>
        <codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYLabSRMPortalUtility.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MYLabSRMPortalUtilityBusiness" publicKeyToken="7115c36f7588aac0" culture="neutral"/>
        <codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYLabSRMPortalUtilityBusiness.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MYLabSRMPortalUtilityData" publicKeyToken="eddd9c6a6fff0419" culture="neutral"/>
        <codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYLabSRMPortalUtilityData.dll"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MYLabSRMPortalUtilitySchema" publicKeyToken="2b6b93a7e5e707b9" culture="neutral"/>
        <codeBase version="6.4.0.188" href="file:///C:/Program Files/Common Files/Misys/Hosp/MYLabSRMPortalUtilitySchema.dll"/>
      </dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
